################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignments/FileContentIndex/be6c55a7-36da-4a5e-914d-010924378b41.vsidx
/.vs/Assignments/v17/Browse.VC.db
/.vs/Assignments/v17/Browse.VC.db-shm
/.vs/Assignments/v17/Browse.VC.db-wal
/.vs/Assignments/v17/Browse.VC.opendb
/.vs/Assignments/v17/Solution.VC.db
/.vs/Assignments/v17/Solution.VC.db-shm
/.vs/Assignments/v17/Solution.VC.db-wal
